</section>
<div style="padding: 4% 0px; width: 100%; position: relative; display: block;"><br /><br /></div>
<footer>
	<div id="client_count"><%= clients.length %></div> Client(s) are connected!
</footer>
</body>
</html>